.butt1 a, ul.navi li.spec a.down, .barr, .button-newsletter, .p2-icon, .p2 a, .slide-txt a:hover, .wrap input.submit-contact  { background-color:#0196a7; }

.slider-navs li.activeSlide a i, .sec-txt span, h3.subtitle, .normal span, p.testi-subti, .cta-icons i{ color:#0196a7;  }

.button-newsletter, .wrap input.submit-contact   { border:1px solid #008190; }

.butt1 a:hover { background-color:#008190; }



