.butt1 a, ul.navi li.spec a.down, .barr, .button-newsletter, .p2-icon, .p2 a, .slide-txt a:hover, .wrap input.submit-contact  { background-color:#eda45d; }

.slider-navs li.activeSlide a i, .sec-txt span, h3.subtitle, .normal span, p.testi-subti, .cta-icons i{ color:#eda45d;  }

.button-newsletter, .wrap input.submit-contact   { border:1px solid #e29851; }

.butt1 a:hover { background-color:#e29851; }



