.butt1 a, ul.navi li.spec a.down, .barr, .button-newsletter, .p2-icon, .p2 a, .slide-txt a:hover, .wrap input.submit-contact  { background-color:#ff5f5f; }

.slider-navs li.activeSlide a i, .sec-txt span, h3.subtitle, .normal span, p.testi-subti, .cta-icons i{ color:#ff5f5f;  }

.button-newsletter, .wrap input.submit-contact   { border:1px solid #f35b5c; }

.butt1 a:hover { background-color:#f35b5c; }



